@page "/Forgot-Password"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="slider-area">
    <div class="login-bg online-cv section-overly pt-100 pb-100 slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Forgot Your Password?</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="call-to-action mt-50 mb-50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-8 mx-auto">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">@ViewData["Title"]</h4>
                    </div>
                    <div class="modal-body">
                        <div class="login-wrap">
                            <form method="post" class="cd-signin-modal__form">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                <p class="cd-signin-modal__fieldset">
                                    <label asp-for="Input.Email" class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace" for="signin-email">Enter Your Email</label>
                                    <input asp-for="Input.Email" class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border" id="signin-email" type="email" placeholder="Enter Your Email">
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </p>
                                <p class="cd-signin-modal__fieldset">
                                    <button type="submit" class="theme-btn">
                                        Submit <i class="fas fa-paper-plane"></i>
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
